h2 { color:#FF0000;
    text-align:center;
    margin:auto;
    }

h3 { color:#b35900;
    text-align:center;
    margin:auto;
    }


<style>
a:link    {color:#FF7733; background-color:transparent; text-decoration:none}
a:visited {color:#993300; background-color:transparent; text-decoration:none}
a:hover   {color:#E8B65F; background-color:transparent; text-decoration:underline}
</style>

