<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>
<body>
<h1>Choose a department to see the courses with open seats!</h1>
    {% for department in departments[1:] %}
    <h3><p class="center"><a href = "/{{department}}">{{department}}</a></p></h3>
    {% endfor %}
</body>
</html>
