<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>
<body>
<h1>These classes have open seats!</h1>
    {% for course in course_list %}
       <p class="center"><strong>{{course.year}} {{course.season}}</strong> {{course.section_title}}</p>
    {% endfor %}
</body>
</html>
